.c-art-subdetail {
    width: calc(100% - 15px);
    .c-art-subdetail__list {
        padding: unset;
        list-style: none;
        .subdetail-list__child {
            margin-bottom: 5px;
            color: $brown-text;
            .list-text {
                color: $light-yellow-text;
                text-decoration: none;
                &:hover {
                    color: $hover-black;
                }
            }
        }
    }
}
