// 作品ページ
// 作品の詳細（隣に書いてあるlist）

.c-art-subdetail {
    .c-art-subdetail__list {
        padding: 0 0 0 15px;
        list-style: none;

        @media only screen and (min-width: $ipad) {
            font-size: 16px;
            padding: 0;
        }

        .subdetail-list__child {
            margin-bottom: 5px;
            color: $text-color;
            @include fontMedium;

            &.art-size {
                @include fontRegular;
            }

            .list-text {
                color: $link-color;
                text-decoration: none;
                &:hover {
                    color: $colored-link;
                }
            }
        }
    }
}
