// 作品ページ
// 作品の詳細（隣に書いてあるlist）

.c-art-subdetail {
    .c-art-subdetail__list {
        padding: 0 0 0 15px;
        list-style: none;
        .subdetail-list__child {
            margin-bottom: 5px;
            color: $brown-text;
            font-weight: 300;
            .list-text {
                color: $patoro-brown;
                text-decoration: none;
                &:hover {
                    color: $hover-black;
                }
            }
        }
    }
}
