// 作品ページの作品詳細（キーワード）

.c-art-description {
    margin: 0 0 0 15px;
    display: inline-block;
    list-style: none;
    padding: 0;

    @media only screen and (min-width: $pc-small) {
        margin: 0;
    }

    .description-term {
        padding: 2px 5px;
        float: left;
        background-color: $link-color;
        margin-left: 3px;
        min-width: 30px;
        text-align: center;

        .description-term__text {
            text-decoration: none;
            color: $highlight;
            @include fontRegular;
        }

        &:hover {
            background-color: $colored-link;
        }
    }
}
