.c-header__nav {
    ul {
        list-style: none;
        li {
            display: inline;
            cursor: pointer;
            // set each icon
            &.c-nav__map {
                background: url(../assets/img/map_icon.svg) no-repeat;
            }
            &.c-nav__search {
                background: url(../assets/img/search_icon.svg) no-repeat;
            }
            &.c-nav__faq {
                background: url(../assets/img/q_icon.svg) no-repeat;
            }
            a {
                margin: 0 0 0 20px;
            }
        }
    }
    .title {
        display: none;
    }
    @media only screen and (min-width: 940px) {
        .title {
            display: block;
        }
    }
}
