// footerの要素
// パトロについて、login

.c-header__menu {
    @include display-flex;

    .c-header__login {
        padding: 0 15px;
        line-height: 44px;
        background-color: $highlight;
        color: $colored-link;
        font-size: 14px;
        @include fontMedium;

        &:hover,
        &:active {
            background-color: $link-yellow;
            cursor: pointer;
        }

        @media only screen and (min-width: $pc-small) {
            padding: 5px;
            width: 150px;
            text-align: center;
            line-height: 90px;
            font-size: 16px;
        }
    }
}
