// header
// パトロについて、アーティストの申請

.c-header__service {
    display: none;
    text-align: center;
    // hover
    .footer-button-patoro,
    .header-button-patoro {
        @include hover-white-brown;

        &:hover,
        &:active {
            @include hover-brown-white;
        }
    }

    .footer-button-artist,
    .header-button-artist {
        @include hover-brown-white;

        &:hover,
        &:active {
            @include hover-black-white;
        }
    }

    // サイズ変わったじてんの調整、表示非表示
    @media only screen and (min-width: $pc-small) {
        display: block;
        width: 140px;
        padding: 5px;
        .menu-button {
            width: 100%;
            display: inline-block;
            padding: 10px 0 10px 0;

            &.header-button-patoro {
                margin-bottom: 5px;
            }
        }
    }
}
