// headerのnav

.c-header__nav {
    width: 100%;

    // headerのtitle
    .title {
        display: none;
        color: $text-color;
        margin-left: 15px;
        font-size: 13px;
    }

    // ul
    .nav-ul {
        padding: 0 0 0 30px;

        // li
        .nav-list {
            display: inline;
            cursor: pointer;
            margin-right: 30px;
            transition: all 100ms 0s ease;

            // text
            .nav-list__text {
                margin: 0 0 0 20px;
                text-decoration: none;
                transition: all 100ms 0s ease;
                color: $colored-link;
                font-size: 14px;
                @include fontMedium;
            }

            // Map
            &.c-nav__map {
                background: url(../assets/minify-img/map_icon.svg) no-repeat;
                &:hover {
                    background: url(../assets/minify-img/map_icon_white.svg) no-repeat;
                    a {
                        color: $highlight;
                    }
                }
            }

            // Search
            &.c-nav__search {
                background: url(../assets/minify-img/search_icon.svg) no-repeat;
                &:hover {
                    background: url(../assets/minify-img/search_icon_white.svg) no-repeat;
                    a {
                        color: $highlight;
                    }
                }
            }

            // FAQ
            &.c-nav__faq {
                background: url(../assets/minify-img/q_icon.svg) no-repeat;
                &:hover {
                    background: url(../assets/minify-img/q_icon_white.svg) no-repeat;
                    a {
                        color: $highlight;
                    }
                }
            }

            @media only screen and (max-width: 400px) {
                & {
                    margin-right: 20px;
                    font-size: 12px;
                }
            }

        }
    }

    // サイズ変わったじてんの調整
    @media only screen and (min-width: $pc-small) {
        .title {
            display: block;
        }

        .nav-list__text {
            font-size: 16px !important;
        }
    }
}
