// 作品ログのlist
// 再利用できるようになるため、componentにした

.c-log-list {
    padding: 15px 4% 15px 4%;
    margin-top: 0;

    @media only screen and (min-width: 768px) {
        font-size: 16px;
    }

    // li の要素
    .year-list {
        display: flex;
        display: -webkit-flex;
        margin: 0 0 12px 0;
        color: $brown-text;

        &:last-child {
            margin: 0;
        }
    }

    // 年ごとの細かい情報
    .c-log-info {
        margin-left: 10px;
        max-width: 43vw;
        position: relative;

        .info-content {
            display: inline;
        }

        .linked-content {
            padding: 3px;
            background-color: $hover-yellow;
            text-decoration: none;
            &:hover {
                color: $white;
                background-color: $hover-black;
            }
        }

        &:before {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            background: $brown-text;
            display: inline-block;
            margin-left: -5px;
        }
    }

    // 画面サイズが変わった時点で、構成、背景の色等が変更されるので、細かい調整が必要
    @media only screen and (min-width: 940px) {
        .year-list {
            margin: 0;
            background-color: $vague-white;
        }
        .c-log-year {
            padding: 12px 15px;
            width: 200px;
            text-align: right;
            background-color: $less-brown;
        }
        .c-log-info {
            padding: 12px 15px;
            &:before {
                display: none;
            }
        }

        // listの最初の子要素のpadding
        .year-list:first-child {
            .c-log-year,
            .c-log-info {
                padding: 25px 15px 12px 15px;
            }
        }

        // listの最後の子要素のpadding
        .year-list:last-child {
            .c-log-year,
            .c-log-info {
                padding: 12px 15px 25px 15px;
            }
        }
    }


    @media only screen and (min-width: 1280px) {
        padding: 15px 12% 10% 12%;
    }
}
