// asideの中身

.c-log-content {
    // ul
    list-style: none;
    padding: 0;
    display: none;

    // li
    .c-log-content__list {
        padding: 2% 4%;
        margin-bottom: 2px;
        background-color: $background-white;
        min-height: 10vw;

        @media only screen and (min-width: $pc-small) {
            padding: 2% 1.5vw;
        }

        &:last-child {
            margin-bottom: unset;
        }

        // logのかくlistのタイトル
        .log-title {
            color: $link-color;
            .icon-wrapper {
                display: inline;
                .log-title__count {
                    cursor: pointer;
                    margin: 0 15px 0 0;
                    @include fontBold;

                    &:after {
                        content: "";
                        width: 1px;
                        height: 15px;
                        background-color: $colored-link;
                        position: absolute;
                        margin: 3px 0 0 10px;
                    }

                    @media only screen and (min-width: $ipad) {
                        font-size: 18px;

                        &:after {
                            height: 21px;
                        }
                    }

                    &:hover {
                        color: $colored-link;
                    }
                }
                .log-title__icon {
                    width: 15px;
                }
            }
            .log-title__head {
                display: inline;
                font-size: 14px;
                @include fontBold;

                @media only screen and (min-width: $ipad) {
                    font-size: 18px;
                }

                &:hover {
                    color: $colored-link;
                }
            }
        }

        // locationのwrapper
        .log-subdetail {
            margin-top: 10px;
            .log-subdetail__location {
                color: $colored-link;
                font-size: 14px;
                @include fontMedium;

                &:hover {
                    text-decoration: none;
                }
                &:before {
                    content: url(../assets/minify-img/map_icon.svg);
                    width: 14px;
                    height: auto;
                    margin-right: 2px;
                    display: inline-block;
                }
            }
            .log-subdetail__tag {
                padding: 0;
                float: right;
                .tag-detail-list {
                    list-style: none;
                    background-color: $link-color;
                    padding: 0 3px;
                    display: inline-block;
                    min-width: 35px;
                    text-align: center;
                    @include fontBold;

                    .tag-detail-text {
                        text-decoration: none;
                        color: $highlight;
                        font-size: 13px;

                        @media only screen and (min-width: $ipad) {
                            font-size: 15px;
                        }
                    }
                    &:hover {
                        background-color: $colored-link;
                    }
                }
            }
        }

        // 画像のコメント
        .img-comment {
            margin: 1% 0 0 0;
            font-size: 14px;
            color: $text-color;
            @include fontRegular;

            @media only screen and (min-width: $ipad) {
                & {
                    font-size: 16px;
                }
            }
        }

        // 日付
        .time-label {
            @include fontRegular;
            margin: 0;
            text-align: right;
            font-size: 12px;
            color: $text-color;

            @media only screen and (min-width: $pc-small) {
                font-size: 14px;
            }
        }

        // 画像
        .img-wrapper {
            margin: 2% 0 0 0;
            .img-wrapper__el {
                width: 100%;
                &.el-left {
                    width: 49%;
                    margin-right: 2%;
                }
                &.el-right {
                    width: 49%;
                    float: right;
                }
            }

            &.img-as-background {
                @include display-flex;
                height: 23vw;

                @media only screen and (min-width: $ipad) {
                    height: 20vw;
                }

                @media only screen and (min-width: $pc-small) {
                    height: 14.5vw;
                }

                .crop-img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
