// asideの中身

.c-log-content {
    // ul
    list-style: none;
    padding: 0;
    display: none;

    // li
    .c-log-content__list {
        padding: 2% 3%;
        margin-bottom: 2px;
        background-color: $vague-white;

        &:last-child {
            margin-bottom: unset;
        }

        // logのかくlistのタイトル
        .log-title {
            color: $patoro-brown;
            .icon-wrapper {
                display: inline;
                .log-title__count {
                    cursor: pointer;
                    margin: 0 15px 0 0;
                    &:after {
                        content: "";
                        width: 1px;
                        height: 15px;
                        background-color: $hover-black;
                        position: absolute;
                        margin: 3px 0 0 10px;
                    }
                    &:hover {
                        color: $hover-black;
                    }
                }
                .log-title__icon {
                    width: 15px;
                }
            }
            .log-title__head {
                display: inline;
                // font-weight: 500;
                font-size: 14px;
                &:hover {
                    color: $hover-black;
                }
            }
        }

        // locationのwrapper
        .log-subdetail {
            margin-top: 10px;
            .log-subdetail__location {
                color: $hover-black;
                font-size: 14px;
                // font-weight: 300;
                &:hover {
                    text-decoration: none;
                }
                &:before {
                    content: url(../assets/minify-img/map_icon.svg);
                    width: 14px;
                    height: auto;
                    margin-right: 2px;
                    display: inline-block;
                }
            }
            .log-subdetail__tag {
                padding: 0;
                float: right;
                .tag-detail-list {
                    list-style: none;
                    background-color: $patoro-brown;
                    padding: 0 3px;
                    display: inline-block;
                    min-width: 35px;
                    text-align: center;
                    // font-weight: 500;
                    .tag-detail-text {
                        text-decoration: none;
                        color: $white;
                        font-size: 13px;

                        @media only screen and (min-width: $ipad) {
                            & {
                                font-size: 15px;
                            }
                        }
                    }
                    &:hover {
                        background-color: $hover-black;
                    }
                }
            }
        }

        // 画像のコメント
        .img-comment {
            margin: 1% 0 0 0;
            font-size: 14px;
            color: $brown-text;
            // font-weight: 300;
            @media only screen and (min-width: $ipad) {
                & {
                    font-size: 16px;
                }
            }
        }

        // 日付
        .time-label {
            margin: 0;
            text-align: right;
            font-size: 12px;
            color: $brown-text;
        }

        // 画像
        .img-wrapper {
            margin: 2% 0 0 0;
            .img-wrapper__el {
                width: 100%;
                &.el-left {
                    width: 49%;
                    margin-right: 2%;
                }
                &.el-right {
                    width: 49%;
                    float: right;
                }
            }

            &.img-as-background {
                @include display-flex;
                height: 30vw;
                max-height: 220px;
                .crop-img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
