.c-nav__logo {
    .c-logo__small {
        display: block;
        height: 100%;
    }
    .c-logo__large {
        display: none;
    }
    @media only screen and (min-width: 940px) {
        .c-logo__small {
            display: none;
        }
        .c-logo__large {
            display: block;
            height: 100%;
        }
    }
}
