.c-nav__logo {
    display: inline-block;
    height: 100%;
    width: 35px;
    background: url(../assets/img/logo_s.svg) no-repeat;
    @media only screen and (min-width: 940px) {
        & {
            width: 152px;
            background: url(../assets/img/logo_l.svg) no-repeat;
        }
    }
}
