// パトロのlogo wrapper

.c-nav__logo {
    //小さいアイコン
    .c-logo__small {
        display: block;
        height: 100%;
    }
    // 大きいアイコン
    .c-logo__large {
        display: none;
    }

    // サイズ変わったじてん、表示非表示の調整
    @media only screen and (min-width: $pc-small) {
        .c-logo__small {
            display: none;
        }
        .c-logo__large {
            display: block;
            height: 100%;
            width: 15vw;
        }
    }
}
