.c-profile__subsection {
    padding: 0 2% 2%;
    .user-keyword {
        list-style: none;
        padding: 0;
        display: flex;
        display: -webkit-flex;
        .user-keyword__list {
            padding: 2px;
            background: $hover-yellow;
            margin: 0 2% 0 0;
            .list-word {
                text-decoration: none;
                color: $hover-black;
            }

            &:hover {
                background-color: $hover-black;
                .list-word {
                    color: $white;
                }
            }
        }
    }

    .follow-section-wrapper {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-box-pack: justify;
        .follow-section {
            padding: 0;
            list-style: none;
            display: inline;
            margin: 2% 0 0 0;
            .follow-section-list {
                display: inline;
                margin-right: 15px;
                .follow-section-list__title {
                    display: inherit;
                }
                .follow-section-list__number {
                    display: inherit;
                }
            }
        }

        .follow-button {
            color: $patoro-brown;
            padding: 1%;
            border: solid 2px;
            min-width: 7vw;
            .follow-button__text {
                color: $patoro-brown;
                text-decoration: none;
            }
            &:hover {
                color: $white;
                background-color: $patoro-brown;
                .follow-button__text {
                    color: $white;
                }
            }
        }
    }

    .bio-comment-wrapper {
        font-size: 14px;
        .comment-text {
            margin-bottom: 0;
            color: $brown-text;
        }
        .bio-link {
            color: $patoro-brown;
            &:hover {
                color: $hover-black;
            }
        }
    }

    .sns-icon-wrapper {
        list-style: none;
        padding: 0;
        display: flex;
        display: -webkit-flex;
        .icon-list {
            display: inline-block;
            margin: 0 5% 0 0;
            .icon-list__wrapper {
                .sns-icon-el {
                    width: 35px;
                    position: absolute;
                    &:hover {
                        opacity: 0;
                    }
                }
                &.twitter-wrapper:after {
                    content: url(../assets/img/twitter_icon_h.svg);
                }

                &.instagram-wrapper:after {
                    content: url(../assets/img/insta_icon_h.svg);
                }

                &.facebook-wrapper:after {
                    content: url(../assets/img/facebook_icon_h.svg);
                }

                &:after {
                    width: 35px;
                    display: inline-block;
                    opacity: 1;
                    z-index: 0;
                }
            }
        }
    }
}
