// user avatarのアイコン

.c-profile__head {
    padding: 0 0 0 5%;
    display: inline-block;
    width: auto;
    height: auto;
    margin: -45px 0 0 0;
    @media only screen and (min-width: $ipad) {
        margin: -55px 0 0 0;
    }

    @media only screen and (min-width: $pc-small) {
        margin: -35px 0 0 0;
    }

    .c-profile__thumbnail {
        height: 78px;
        width: 78px;
        display: inline-block;
        @media only screen and (min-width: $ipad) {
            & {
                height: 88px;
                width: 88px;
            }
        }

        .thumbnail-icon {
            width: 100%;
            border: #FFFFFF 2px solid;
            border-radius: 50%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }

    // profile user name
    .profile-name {
        display: inline-block;
        color: $text-color;
        font-size: 20px;
        margin: 0;
        vertical-align: text-bottom;
        @include fontRegular;

        @media only screen and (min-width: $ipad) {
            font-size: 22px;
        }

        @media only screen and (min-width: $pc-small) {
            margin-bottom: 10px;
        }

        @media only screen and (min-width: $pc-big) {
            font-size: 24px;
        }
    }
}
