.p-artwork__content {
    background-color: $vague-white;
    padding: 0 5px 0 5px;

    .content-image {
        margin: 0 15px 30px;
        padding: 20px 0 0 0;
        .image-element {
            width: 100%;
        }
    }

    .artwork-detail {
        margin-left: 15px;
        .title-detail {
            font-size: 16px;
            color: $brown-text;
            font-weight: normal;
        }
    }

    @media only screen and (min-width: 940px) {
        & {
            width: 100%;
            display: flex;
            display: -webkit-flex;
        }
        .content-image {
            width: calc((((100% - 135px) / 10) * 4) + 65px);
            padding-left: calc((100% - 135px) / 10);
            margin-right: calc((100% - 135px) / 10);
            padding-top: 30px;
        }
        .artwork-detail {
            width: calc((((100% - 135px) / 10) * 5) + 45px);
            padding-top: 30px;
            margin-right: 46px;
        }
    }
}
