// 作品ログ

.p-artwork__log {
    .p-log-header {
        padding: 10px 0 0 37px;
        color: $hover-black;
        margin: unset;
        font-weight: 500;
        // 作品ログのheader icon
        &:before {
            content: "";
            display: inline-block;
            height: 24px;
            width: 24px;
            background: url(../assets/img/light.svg) no-repeat;
            position: absolute;
            left: 7px;
        }
    }

    // ログ情報のwrapper要素
    .p-log-content {
        background-color: $vague-white;

        @media only screen and (max-width: 440px) {
            // 画面サイズが変わった時点
            & {
                font-size: 12px;
            }
        }
    }

    @media only screen and (min-width: 940px) {
        // 画面サイズ変わった時点、paddingとlogoの位置調整
        .p-log-header {
            padding: 10px 0 0 75px;
            &:before {
                left: 45px;
            }
        }
        .p-log-content {
            background-color: $default-gray;
        }
    }
}
