// 作品ページの詳細要素

.p-artwork__content {
    background-color: $vague-white;
    padding: 0 1%;

    // 作品の画像
    .content-image {
        margin: 0 15px 30px;
        padding: 20px 0 0 0;
        // imgの要素
        .image-element {
            width: 100%;
        }
    }

    // 詳細のul
    .artwork-detail {
        .artwork-detail__title {
            margin: 0 0 0 15px;

            @media only screen and (min-width: 940px) {
                margin: 0;
            }
        }

        // liの要素
        .title-detail {
            font-size: 16px;
            color: $brown-text;
            font-weight: 300;
            @media only screen and (min-width: 768px) {
                font-size: 18px;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        padding: 2% 6%;
    }

    // サイズ変わる時点の調整
    @media only screen and (min-width: 940px) {
        // 本要素
        width: 100%;
        display: flex;
        display: -webkit-flex;
        padding: 0;

        // 作品画像のimg wrapper
        .content-image {
            width: 40%;
            padding-left: 7%;
            margin-right: 10%;
            padding-top: 30px;
            height: auto;
        }

        // ulの要素
        .artwork-detail {
            width: 60%;
            padding: 8vw 2vw 0 0;
        }
    }

    @media only screen and (min-width: 1280px) {
        // 本要素

        // 作品画像のimg wrapper
        .content-image {
        }

        // ulの要素
        .artwork-detail {
        }
    }
}
