// 作品ログ

.p-artwork__log {
    .p-header-wrapper {
        .p-log-header {
            color: $hover-black;
            margin: unset;
            // font-weight: 500;
            font-size: 14px;

            // 作品ログのheader icon
            &:before {
                content: "";
                display: inline-block;
                height: 22px;
                width: 22px;
                background: url(../assets/minify-img/light.svg) no-repeat;
                position: absolute;
                left: 5px;
                margin-top: -2px;
            }

            @media only screen and (min-width: $ipad) {
                font-size: 22px;
                &:before {
                    height: 26px;
                    width: 26px;
                    left: 5px;
                    margin-top: 2px;
                }
            }

            @media only screen and (min-width: $pc-small) {
                &:before {
                    left: 4vw;
                }
            }

            @media only screen and (min-width: $pc-big) {
                &:before {
                    left: 12vw;
                }
            }
        }

        padding: 1.5vw 35px 1.5vw 35px;

        // 作品ロゴ
        @media only screen and (min-width: $pc-small) {
            padding: 1vw calc(7vw + 1px) 0 calc(7vw + 1px);
        }

        @media only screen and (min-width: $pc-big) {
            padding: 1vw 14.5vw 0 14.5vw;
        }
    }

    // ログ情報のwrapper要素
    .p-log-content {
        background-color: $vague-white;

        @media only screen and (max-width: 440px) {
            // 画面サイズが変わった時点
            & {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: $pc-small) {
            // 画面サイズ変わった時点、paddingとlogoの位置調整
            background-color: $default-gray;
        }
    }
}
