.p-log {
    .log-list-ol {
        list-style: none;
        padding: unset;
        .log-list__el {
            padding: 2%;
            background-color: $less-brown;
            margin: 0 0 1% 0;
            .log-list__header {
                margin: 0;
                font-weight: normal;
                color: $brown-text;
                &:after {
                    content: "";
                    float: right;
                    margin-top: 10px;
                    border-top: 8px solid #727262;
                    border-right: 6px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 6px solid transparent;
                }
            }

            .log-list-p {
                margin: 0;
                color: $patoro-brown;
            }

            .list-img {
                width: 30%;
            }
        }
    }

    .c-log-logo {
        background: url(../assets/img/caret-down.svg) no-repeat;
        float: right;
        height: 20px;
        width: 15px;
        background-size: contain;
        cursor: pointer;
    }
}
