// インスピレーションログの中身

.p-log {
    margin-top: -2vw;
    @media only screen and (min-width: $ipad) {
        margin-top: unset;
    }

    @media only screen and (min-width: $pc-small) {
        margin-top: -1vw;
    }

    .log-list-ol {
        list-style: none;
        padding: unset;
        // li ごとのスタイリング
        .log-list__el {
            margin: 0 0 1% 0;

            // headerの日付
            .log-list__header {
                margin: 0;
                @include fontMedium;
                color: $colored-link;
                padding: 2% 4% 2% 4%;
                font-size: 14px;
                background-color: $background-vague-gray;

                @media only screen and (min-width: $ipad) {
                    font-size: 16px;
                    padding: 2% 4% 2% 4%;
                }

                @media only screen and (min-width: $pc-small) {
                    font-size: 16px;
                    padding: 2% 1.5vw 2% 1.5vw;
                }

                @media only screen and (min-width: $pc-big) {
                    padding: 2% 1.5vw 2% 2vw;
                }

                // した矢印
                &:after {
                    @include arrow-down(10px);
                }

                // openの場合
                &.is-opened {
                    &:after {
                        @include arrow-up(2px);
                    }
                }
            }

            // 開くなくても見える画像
            .list-img__wrapper {
                @include display-flex;
                background-color: $background-vague-gray;
                padding: 0 4% 2% 4%;

                @media only screen and (min-width: $pc-small) {
                    padding: 0 1.5vw 2% 1.5vw;
                }

                @media only screen and (min-width: $pc-big) {
                    padding: 0 2vw 2% 2vw;
                }

            }

            // 開くなくても見えるheaderのtext
            .log-list-head {
                padding: 0 4% 2% 4%;
                margin: 0;
                color: $link-color;
                font-size: 14px;
                background-color: $background-vague-gray;
                @include fontBold;

                @media only screen and (min-width: $ipad) {
                    font-size: 18px;
                }

                &.beside-img {
                    padding: 0;
                }
            }

            .list-img {
                width: 38%;
                height: 100%;
                margin-right: 15px;
            }

            // headerを押したら
            &.is-opened .c-log-content{
                display: block;
            }
        }
    }
}
