.p-log {
    ul {
        list-style: none;
        padding: unset;
        li {
            padding: 2%;
            background-color: $less-brown;
            margin: 0 0 1% 0;
        }
    }

    #triangle-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid black;
        position: absolute;
        right: 0;
    }


    .c-log-logo {
        background: url(../assets/img/caret-down.svg) no-repeat;
        float: right;
        height: 20px;
        width: 15px;
        background-size: contain;
        cursor: pointer;
    }
}
