.p-profile {
    width: 100%;

    // userのprofile section
    .c-profile {
        background: $vague-white;
        display: inline-block;
        width: 100%;
        .c-profile__background {
            display: inline-block;
            width: 100%;
            height: 50vw;
            max-height: 280px;
            background: url(../assets/img/iStock-994961612.jpg) no-repeat 100% 100%;
            background-size: cover;
        }
    }

    // ユーザーの所有画像
    .c-work {
        .c-work__wrapper {
            display: inline-block;
            width: 100%;
            background-color: $vague-white;

            .title-wrapper {
                width: 96%;
                margin: auto;
                .c-work__title {
                    display: inline-block;
                    font-weight: 500;
                    color: $brown-text;
                    margin: 0 15px 0 0;
                    &:after {
                        content: "";
                        width: 1px;
                        height: 20px;
                        background-color: #727262;
                        position: absolute;
                        margin: 2px 0 0 9px;
                    }
                }

                // お気に入り
                .title-favorite {
                    display: inline-block;
                    margin: 0;
                    color: $patoro-brown;
                    font-weight: 500;
                    &:hover {
                        color: $hover-black;
                        cursor: pointer;
                    }
                }
            }
        }

        // 画像自体
        .own-img__ul {
            display: -ms-flexbox;
            display: flex;
            overflow-x: scroll;
            padding: 0;
            margin-left: calc(3% - 4px);
            .own-img__list {
                list-style: none;
                margin-right: 2px;
                .own-img-el {
                    height: 20vw;
                    max-height: 140px;
                }
            }
        }
    }

    // サイズによって、必要な調整はここに書きます
    @media only screen and (min-width: 940px) {
        .c-profile {
            margin: 0 0 15px 0;
        }

        .c-work__wrapper {
            .title-wrapper {
                width: 94% !important;
            }

            .own-img__ul {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                width: 96%;

                .own-img__list {
                    width: calc(50% - 5px);
                    margin-right: 5px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    height: 12vw;
                    margin-bottom: 5px;
                    overflow: hidden;
                    max-height: 140px;

                    .own-img-el {
                        width: 100%;
                    }
                }
            }
        }
    }

}
