.p-profile {
    width: 100%;
    height: 100%;
    .c-profile {
        background: white;
        .c-profile__background {
            height: 192px;
            background: url(../assets/img/iStock-994961612.jpg) no-repeat 100% 100%;
            background-size: cover;
        }
        .c-profile__thumbnail {
            height: 78px;
            width: 100%;
            & figure img {
                float: left;
                border-radius: 50%;
                height: 78px;
                z-index: 11;
                border: 2px solid #FAFAFA;
            }
        }
    }
    .c-work {
        height: auto;
        width: 100%;
        background-color: white;
        .c-work__title {
            height: 20%;
            margin: 0 0 11px 0;
        }
        .c-work__img {
            height: 70%;
            overflow: auto;
            & figure {
                width: 35%;
                height: 100%;
                margin: unset;
                float: left;
                img {
                    height: 133px;
                    width: 206px;
                }
            }
            @media only screen and (min-width: 940px) {
                & {
                    padding: 15px;
                    height: 268px;
                    overflow: unset;
                    background-color: $white;
                    figure {
                        height: 50%;
                        width: 50%;
                        float: left;
                    }
                }
            }
        }
    }
}
