.l-footer-wrapper {
    display: block;
    background-color: $background-gray;
    padding-bottom: 15px;
    @media only screen and (min-width: $pc-small) {
        & {
            display: none;
        }
    }

    // footerの中身wrapper
    .c-footer {
        text-align: center;
        display: inline-block;
        width: 100%;

        // footerのtitle
        .c-footer__title {
            font-size: 13px;
            margin-top: unset;
            color: $text-color;
            @include fontBold;
        }

        // logo
        .c-footer__logo {
            height: 80%;
            max-width: 190px;
            margin: 0 auto 30px auto;
        }

        // パトロについて・アーティストの申請
        .c-footer__submenu {
            display: inline-block;
            .submenu-wrapper {
                @include display-flex;
                font-size: 14px;

                // パトロについてのボタン
                .submenu-patoro {
                    @include hover-white-brown;
                    text-decoration: none;
                    padding: 3px 5px;
                    margin-right: 5px;
                    font-size: 13px;
                    @include fontBold;
                    &:hover {
                        @include hover-brown-white;
                    }
                }

                // アーティストの申請のボタン
                .submenu-artist {
                    @include hover-brown-white;
                    text-decoration: none;
                    padding: 2px 5px;
                    font-size: 13px;
                    @include fontBold;
                    &:hover {
                        @include hover-black-white;
                    }
                }
            }
        }
    }

}
