.l-header {
    width: 100%;
    height: 44px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    position: fixed;
    background-color: $default-gray;
    .l-header__wrapper {
        padding: 5px 0;
    }
    .l-header__container {
        height: 100%;
        display: inline-block;
        width: auto;
        margin: 0;
    }
}

@media only screen and (min-width: 940px) {
    .l-header {
        width: 100%;
        height: 105px;
    }
}
