// headerのmain wrapper

.l-header {
    @include display-flex;
    width: 100%;
    height: 44px;
    justify-content: space-between;
    position: fixed;
    background-color: $default-gray;
    z-index: 1;

    // ここはlogoのwrapper
    .l-header__wrapper {
        @include display-flex;
        width: 100%;
        margin: 0 auto;
    }

    .header-wrapper {
        width: 40px;
        padding: 5px 0;
    }

    // h1のcontainer
    .l-header__container {
        height: 100%;
        display: inline-block;
        width: auto;
        margin: 0;
    }
}

// サイズ変わったじてんのwrapper調整
@media only screen and (min-width: $pc-small) {
    .l-header {
        width: 100%;
        height: 105px;
        .header-wrapper {
            width: 14vw;
        }
    }
}
