// gridの設定
.block-1 {
    grid-area: main;
}

.block-2 {
    grid-area: right;
}

.block-3 {
    grid-area: footer;
}

// 全体の Layout
.l-content {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: $default-gray;
}

// main layout
.l-content__wrapper {
    padding: 45px 0 0 0;
    overflow: auto;
    display:-ms-grid;
    display:grid;
    height: auto;
    grid-template-areas:
    'main'
    'right';

    // main要素
    .l-main-wrapper {
        width: auto;
    }

    // 画面サイズが変わった時点で、gridの構成を変更する（カラムかられつに）
    @media only screen and (min-width: $pc-small) {
        & {
            padding: 107px 15px 0 15px;
            grid-template-areas:
            'main right';
            grid-gap: 15px;
            max-width: $pc-big;
            margin: 0 auto;
            margin-bottom: 30px;
            grid-template-columns: 50% 50%;
        }
    }

    // gridのサイズ（カラムの場合）
    @media only screen and (min-width: $pc-big) {
        & {
            grid-template-columns: 40% 60%;
        }
    }

}
