.l-aside-wrapper {
    padding: 10px 15px 10px 15px;
    .l-aside__header {
        .header-logo {
            background: url(../assets/img/light.svg) no-repeat 100% 100%;
            float: left;
            width: 5%;
            height: 20px;
            margin: 0 2% 0 0;
        }
    }
}
